{% load static %}

<!-- Contacts -->
<div class="tab-pane fade h-100" id="tab-content-contacts" role="tabpanel">
    <div class="d-flex flex-column h-100">
        <div class="hide-scrollbar">
            <div class="container py-8">

                <!-- Title -->
                <div class="mb-8">
                    <h2 class="fw-bold m-0">Parties</h2>
                </div>

                <div class="mb-6">

                    <!-- Invite button -->
                    <div class="mt-5">
                        <a href="#" class="btn btn-lg btn-primary w-100 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#modal-invite">
                            Invite parties to conflict

                            <span class="icon ms-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                            </span>
                        </a>
                    </div>
                </div>

                <!-- List -->
                <div class="card-list">
                    {% for contact in contacts %}
                        {% if contact.user_profile.is_party == True %}
                        <!-- Card -->
                        <div class="card border-0">
                            <div class="card-body">

                                <div class="row align-items-center gx-5">
                                    <div class="col-auto">
                                        <span class="avatar ">
                                            {% if contact.user_profile.profile_pic.url %}
                                                <img class="avatar-img" src="{{contact.user_profile.profile_pic.url}}" alt="{{contact.first_name}} {{contact.last_name}}">
                                            {% else %}
                                                <img class="avatar-img" src="{% static "assets/img/avatars/0.jpg" %}" alt="">
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col">
                                        <h5>{{contact.first_name}} {{contact.last_name}}</h5>
                                        <p><a href="mailto:{{contact.email}}">{{contact.email}}</a></p>
                                        <!--<p>last seen 3 days ago</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->
                         {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>